h1 {
  margin-top: 5px;
  padding-top: 5px;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #bbbbbb;
}

div.fb-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline;
} 

.image_container {
   display:block;
   margin:auto;
}

.link-box {
    width: 500px;
    height: 30px;
    display: inline-block;
    margin: auto;
}

.link-container {
    width: 600px;
    margin: auto;
}

.input-lg {
    font-size: 14px;
}

.btn {
    height: 30px;
    margin: auto;
}

.paddeddiv {
  margin-top: 10px;
  margin-bottom: 5px;
}