{% extends 'base.html' %}

{% block title %}About the-creatives{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

{% load static %}

<div class="container">
  <h1 class="text-center">About the-creatives</h1>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 paddeddiv">
      <p class="text-center">
        Drink Detector is brought to you by Olin College alums and students Jimmy Wu ('15), Lucy Wilcox ('18), and Jasper Chen ('16).
      </p>
    </div>
  </div>
</div>

{% endblock %}
