{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>ML Drinks</h1>
        <h2>Do You Drink?</h2>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p>{{ result }}
        <form action="/" method="get">
          Image URL:<br>
          <input type="text" name="url"><br>
        </form>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}