{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

{% load static %}
<head>
<style>

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #bbbbbb;
}

div.fb-login-button {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
} 

.image_container {
   display:block;
   margin:auto;
}

.link-box {
    width: 40%;
    height: 30px;
    display: inline-block;
    margin: auto;
}

.link-container {
    width: 50%;
    margin: auto;
}

.input-lg {
    font-size: 14px;
}

.btn {
    height: 30px;
    margin: auto;
}

</style>
</head>
<script src="{% static 'js/app.js' %}" type="text/javascript"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <div class="container-fluid">
        <h1 class="text-center"> ML Drinks</h1>
        <h2 class="text-center"> Do You Drink?</h2>
        <p class="text-center">ML-Drinks is a neural network which will recognize and flag alcoholic beverages in your pictures. Either enter an image URL or log into Facebook. </p>
        <form action="/" method="get">
            {% csrf_token %}
        <div class="link-container">
            <span>
                <input class="form-control input-lg link-box" name="url" id="inputlg" placeholder="your image url here" type="text">
                <button type="button" class="btn btn-primary">Submit</button>
            </span>
        </div>
        <p>{{ result }}</p>
        <p>{{ list }}</p>
        <p><img class="image_container" src="{{ url }}" width="600px" /></p>
        <p class="text-center">
        <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onlogin="callLoginFunction()"></div>
    </div>

{% endblock %}
